.langWrapper {
    position: relative;
}

.langPopupWrapper {
    position: absolute;
    left: -13px;
    top: 20px;
    z-index: 10;
    background: #f5f5f5;
    padding: 10px 15px;
    margin-top: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    border-radius: 2px;
}