.firstRow, .secondRow {
    display: flex;
    justify-content: space-between;
}

.firstRow {
    height: 50px;
}

.firstRow > div,
.secondRow > div {
    display: flex;
    align-items: center;
    position: relative;
}

.contactUsContainer > div:first-child {
    margin-right: 40px;
}

.navContainer > div:first-child {
    margin-right: 40px;
}

.secondRow {
    height: 70px;
}

.secondRow > div {
    height: 70px;
}

.searchWrapper {
    flex-grow: 0.3;
}