.lang {
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.itemContainer {
    white-space: nowrap;
}

.itemContainer > span {
    margin-right: 5px;
}

.itemContainer > span:last-child {
    margin-right: 0;
}