.listItem {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.line li {
    display: inline-block;
}

.line li:last-child {
    margin-right: 0;
}

.light li a  {
    color: #fff;
}

.dark li a {
    color: #333;
}

.icon {
    font-size: 16px;
}