.listItems li {
    display: inline-block;
}

.listItems li a {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    color: #333;
    text-decoration: none;
}

.listItems li a:hover {
    color: #111;
}

.navLeft, .navRight {
    display: inline-block;
}

.navLeft {
    margin-right: 50px;
}

.navLeft li {
    margin-right: 20px;
}

.navLeft li:last-child {
    margin-right: 0;
}

.navRight {

}

.navRight li {
    margin-right: 50px;
}

.navRight li a{
    font-weight: 700;
}

.navRight li:last-child {
    margin-right: 0;
}