@import './styles/reset';
@import './styles/variables';
@import './styles/header/header';
@import './styles/common/common';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.clear-list-styles {
  list-style: none;
  padding: 0;
  margin: 0;
}

.clear-link-styles a,
a.clear-link-styles {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Montserrat, Helvetica, Arial,sans-serif;
  font-size: 13px;
  line-height: 22px;
}

div {
  box-sizing: border-box;
}
